<h1 id="center">Parks</h1>
<div class="d-inline-block">
    <%= paginate @parks, window: 2 %>
  </div>

<%= form_tag(result_search_index_path, method: "get", :class => 'd-inline-block', :id => 'right') do %>
  <%= label_tag(:q, "Search for Parks:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Park Name</th>
        <th>Address</th>
        <th>Park Category</th>
      </tr>
    </thead>
    <% @parks.each do |park| %>
      <tr>
        <td><%=link_to park.name, park_path(park)%></td>
        <td><%=park.address%></td>
        <td><%=park.category%></td>
      </tr>
    <%end%>
  </table>

